<form #userForm ="ngForm" (ngSubmit)="getUser(userForm.value);userForm.reset()">

<input type="text" name="name" ngModel placeholder="Enter YOur Name">

<input type="text" ngModel name="email" placeholder="Enter YOur Email">

<input type="text" ngModel name="password" placeholder="Enter YOur Password">

<button (click)="getAllData()" type="submit">Add New Person</button>
</form>

<ul>
    <li *ngFor="let user of users">
        {{user.name}}
        <button>Update</button>
        <button (click)="onDelete(user._id)">Remove</button>
    </li>
</ul>



